<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.flowedu.mapper.BusMapper">
	
	<resultMap id="busInfoTimeMap" type="com.flowedu.dto.BusDto">
		<result property="busIdx" column="bus_idx"/>
		<result property="routeNumber" column="route_number"/>
		<result property="startRouteName" column="start_route_name"/>
		<result property="endRouteName" column="end_route_name"/>
		<result property="busType" column="bus_type"/>
		<result property="busStatus" column="bus_status"/>
		<result property="applyStartDate" column="apply_start_date"/>
		<result property="applyEndDate" column="apply_end_date"/>
		<result property="busMemo" column="bus_memo"/>
		<result property="driverIdx" column="driver_idx"/>
		<result property="busDismissTimeIdx" column="bus_dismiss_time_idx"/>
		<result property="dismissFirstTime" column="dismiss_first_time"/>
		<result property="dismissSecondTime" column="dismiss_second_time"/>
		<result property="dismissThirdTime" column="dismiss_third_time"/>
		<result property="dismissFourthTime" column="dismiss_fourth_time"/>
		<result property="dismissFifthTime" column="dismiss_fifth_time"/>
		<result property="dismissSixthTime" column="dismiss_sixth_time"/>
        <collection property="busAttendTimeList" javaType="java.util.ArrayList" resultMap="busAttendTimsListMap"/>
	</resultMap>
	<resultMap id="busAttendTimsListMap" type="com.flowedu.dto.BusAttendTimeDto">
		<result property="busAttendTimeIdx" column="bus_attend_time_idx"/>
		<result property="firstTime" column="first_time"/>
		<result property="secondTime" column="second_time"/>
		<result property="thirdTime" column="third_time"/>
		<result property="fourthTime" column="fourth_time"/>
		<result property="fifthTime" column="fifth_time"/>
		<result property="sixthTime" column="sixth_time"/>
		<result property="sortNumber" column="sort_number"/>
	</resultMap>

	<select id="selectDriverInfo" resultType="com.flowedu.dto.DriverInfoDto">
		SELECT * FROM DRIVER_INFO
		WHERE driver_idx = #{driverIdx}
	</select>

	<select id="selectDriverHelperInfo" resultType="com.flowedu.dto.DriverHelperInfoDto">
		SELECT A.*, B.office_name
		FROM DRIVER_HELPER_INFO A LEFT JOIN OFFICE B
		ON A.office_id = B.office_id
		WHERE driver_helper_idx = #{driverHelperIdx}
	</select>

	<select id="selectBusRouteInfo" resultMap="busInfoTimeMap">
		SELECT A.*, B.bus_dismiss_time_idx, B.first_time as dismiss_first_time, B.second_time as dismiss_second_time, B.third_time as dismiss_third_time,
		B.fourth_time as dismiss_fourth_time, B.fifth_time as dismiss_fifth_time, B.sixth_time as dismiss_sixth_time, C.*
		FROM BUS_INFO A LEFT JOIN BUS_DISMISS_TIME B
		ON A.bus_idx = B.bus_idx LEFT JOIN BUS_ATTEND_TIME C
		ON A.bus_idx = C.bus_idx
		WHERE A.bus_idx = #{busIdx}
		ORDER BY C.sort_number ASC
	</select>

	<select id="selectDriverList" resultType="com.flowedu.domain.DriverList">
		SELECT A.driver_idx, B.office_name, C.start_route_name, C.end_route_name, A.driver_name, A.bus_number, A.phone_number, C.apply_start_date, C.apply_end_date
		FROM DRIVER_INFO A LEFT JOIN OFFICE B
		ON A.office_id = B.office_id LEFT JOIN BUS_INFO C
		ON A.driver_idx = C.driver_idx
		WHERE 1=1
		<if test="officeId > 0">
			AND A.office_id = #{officeId}
		</if>
		<if test="searchType != ''">
			<if test="searchType eq 'office'">
				AND B.office_name LIKE CONCAT ('%', #{searchValue}, '%')
			</if>
			<if test="searchType eq 'route'">
				AND C.start_route_name LIKE CONCAT('%', #{searchValue}, '%') OR C.end_route_name LIKE CONCAT ('%', #{searchValue}, '%')
			</if>
			<if test="searchType eq 'driver'">
				AND A.driver_name LIKE CONCAT ('%', #{searchValue}, '%')
			</if>
		</if>
		ORDER BY A.driver_idx DESC
		LIMIT #{start}, #{end}
	</select>

    <select id="selectDriverListCount" resultType="Integer">
        SELECT count(A.driver_idx)
        FROM DRIVER_INFO A LEFT JOIN OFFICE B
        ON A.office_id = B.office_id LEFT JOIN BUS_INFO C
        ON A.driver_idx = C.driver_idx
        WHERE 1=1
        <if test="officeId > 0">
            AND A.office_id = #{officeId}
        </if>
        <if test="searchType != ''">
            <if test="searchType eq 'office'">
				AND B.office_name LIKE CONCAT ('%', #{searchValue}, '%')
            </if>
            <if test="searchType eq 'route'">
				AND C.start_route_name LIKE CONCAT ('%', #{searchValue}, '%') OR C.end_route_name LIKE CONCAT ('%', #{searchValue}, '%')
            </if>
            <if test="searchType eq 'driver'">
				AND A.driver_name LIKE CONCAT ('%', #{searchValue}, '%')
            </if>
        </if>
    </select>

	<select id="selectDriverHelperList" resultType="com.flowedu.domain.DriverHelper">
		SELECT B.office_name, A.driver_helper_idx, A.helper_name, A.serve_yn, A.create_date
		FROM DRIVER_HELPER_INFO A LEFT JOIN OFFICE B
		ON A.office_id = B.office_id
		WHERE A.driver_idx = #{driverIdx}
	</select>
	
	<select id="selectDrivetRouteInfo" resultType="com.flowedu.domain.DriverRoute">
		SELECT A.bus_idx, A.route_number, A.start_route_name, A.end_route_name, A.bus_type, A.bus_status,
		 	   A.apply_start_date, A.apply_end_date,
			(SELECT count(*) FROM BUS_ATTEND_TIME WHERE bus_idx = #{busIdx}) as attend_count,
			(SELECT count(*) FROM BUS_DISMISS_TIME WHERE bus_idx = #{busIdx}) as dismiss_count
		FROM BUS_INFO A
		WHERE A.driver_idx = #{driverIdx}
	</select>

	<insert id="insertDriverInfo" parameterType="com.flowedu.dto.DriverInfoDto">
		INSERT INTO DRIVER_INFO
		(
			office_id, job_position_id, driver_name, phone_number, birth_day, reg_date, zip_code, address, address_detail,
			bus_number, passengers_number, safety_certificate_date, serve_yn, sexual_assult_confirm_date
		)
		VALUES
		(
			#{officeId}, #{jobPositionId}, #{driverName}, #{phoneNumber}, #{birthDay}, #{regDate}, #{zipCode}, #{address}, #{addressDetail},
			#{busNumber}, #{passengersNumber}, #{safetyCertificateDate}, #{serveYn}, #{sexualAssultConfirmDate}
		)
	</insert>

	<insert id="insertDriverHelperInfo" parameterType="com.flowedu.dto.DriverHelperInfoDto">
		INSERT INTO DRIVER_HELPER_INFO
	  	(
	  		driver_idx, office_id, helper_name, phone_number, birth_day, reg_date, zip_code,
	  		address, address_detail, sexual_assult_confirm_date, serve_yn
	  	)
	  	VALUES
	  	(
	  		#{driverIdx}, #{officeId}, #{helperName}, #{phoneNumber}, #{birthDay}, #{regDate}, #{zipCode},
	  		#{address}, #{addressDetail}, #{sexualAssultConfirmDate}, #{serveYn}
	  	)
	</insert>

	<insert id="insertBusInfo" parameterType="com.flowedu.dto.BusInfoDto">
		INSERT INTO BUS_INFO
		(
			route_number, start_route_name, end_route_name, bus_type, bus_status, apply_start_date, apply_end_date, bus_memo, driver_idx
		)
		VALUES
		(
			#{routeNumber}, #{startRouteName}, #{endRouteName}, #{busType}, #{busStatus}, #{applyStartDate}, #{applyEndDate}, #{busMemo}, #{driverIdx}
		)
		<selectKey resultType="Long" keyProperty="busIdx" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<insert id="insertBusAttendTimeList" parameterType="list">
		INSERT INTO BUS_ATTEND_TIME
		(
			station_name, bus_idx, first_time, second_time, third_time, fourth_time, fifth_time, sixth_time, sort_number
		)
		VALUES
		<foreach collection="busAttendTimeList" item="values" separator=",">
			(
				#{values.stationName}, #{values.busIdx}, #{values.firstTime}, #{values.secondTime}, #{values.thirdTime},
				#{values.fourthTime}, #{values.fifthTime}, #{values.sixthTime}, #{values.sortNumber}
			)
		</foreach>
	</insert>

	<insert id="insertBusAttendTime" parameterType="com.flowedu.dto.BusAttendTimeDto">
		INSERT INTO BUS_ATTEND_TIME
		(
			station_name, bus_idx, first_time, second_time, third_time, fourth_time, fifth_time, sixth_time, sort_number
		)
		VALUES
		(
			#{stationName}, #{busIdx}, #{firstTime}, #{secondTime}, #{thirdTime},
			#{fourthTime}, #{fifthTime}, #{sixthTime}, #{sortNumber}
		)
	</insert>

	<insert id="insertBusDismissTimeInfo" parameterType="com.flowedu.dto.BusDismissTimeDto">
		INSERT INTO BUS_DISMISS_TIME
		(
			bus_idx, first_time, second_time, third_time, fourth_time, fifth_time, sixth_time
		)
		VALUES
		(
			#{busIdx}, #{firstTime}, #{secondTime}, #{thirdTime}, #{fourthTime}, #{fifthTime}, #{sixthTime}
		)
	</insert>
	
	<update id="updateDriverInfo" parameterType="com.flowedu.dto.DriverInfoDto">
		UPDATE DRIVER_INFO
		<set>
			<if test="officeId > 0">office_id = #{officeId},</if>
			<if test="jobPositionId > 0">job_position_id = #{jobPositionId},</if>
			<if test="driverName != ''">driver_name = #{driverName},</if>
			<if test="phoneNumber != ''">phone_number = #{phoneNumber},</if>
			<if test="birthDay != ''">birth_day = #{birthDay},</if>
			<if test="regDate != ''">reg_date = #{regDate},</if>
			<if test="zipCode != ''">zip_code = #{zipCode},</if>
			<if test="address != ''">address = #{address},</if>
			<if test="addressDetail != ''">address_detail = #{addressDetail},</if>
			<if test="busNumber != ''">bus_number = #{busNumber},</if>
			<if test="passengersNumber > 0">passengers_number = #{passengersNumber},</if>
			<if test="safetyCertificateDate != ''">safety_certificate_date = #{safetyCertificateDate},</if>
			<if test="serveYn != '' or serveYn != null">serve_yn = #{serveYn},</if>
			<if test="sexualAssultConfirmDate != ''">sexual_assult_confirm_date = #{sexualAssultConfirmDate},</if>
		</set>
		WHERE driver_idx = #{driverIdx}
	</update>

	<update id="updateDriverHelperInfo" parameterType="com.flowedu.dto.DriverHelperInfoDto">
		UPDATE DRIVER_HELPER_INFO
		<set>
			<if test="driverIdx > 0">driver_idx = #{driverIdx},</if>
			<if test="officeId > 0">office_id = #{officeId},</if>
			<if test="helperName != ''">helper_name = #{helperName},</if>
			<if test="phoneNumber != ''">phone_number = #{phoneNumber},</if>
			<if test="birthDay != ''">birth_day = #{birthDay},</if>
			<if test="regDate != ''">reg_date = #{regDate},</if>
			<if test="zipCode != ''">zip_code = #{zipCode},</if>
			<if test="address != ''">address = #{address},</if>
			<if test="addressDetail != ''">address_detail = #{addressDetail},</if>
			<if test="sexualAssultConfirmDate != ''">sexual_assult_confirm_date = #{sexualAssultConfirmDate},</if>
			<if test="serveYn != ''">serve_yn = #{serveYn},</if>
		</set>
		WHERE driver_helper_idx = #{driverHelperIdx}
	</update>
	
	<update id="updateBusInfo" parameterType="com.flowedu.dto.BusInfoDto">
		UPDATE BUS_INFO
		<set>
			<if test="routeNumber != '' and routeNumber != null">route_number = #{routeNumber},</if>
			<if test="startRouteName != '' and startRouteName != null">start_route_name = #{startRouteName},</if>
			<if test="endRouteName != '' and endRouteName != null">end_route_name = #{endRouteName},</if>
			<if test="busType != '' and busType != null">bus_type = #{busType},</if>
			<if test="applyStartDate != '' and applyStartDate != null">apply_start_date = #{applyStartDate},</if>
			<if test="applyEndDate != '' and applyEndDate != null">apply_end_date = #{applyEndDate},</if>
			<if test="busMemo != '' and busMemo != null">bus_memo = #{busMemo},</if>
			<if test="driverIdx != '' and driverIdx != null">driver_idx = #{driverIdx},</if>
			bus_status = #{busStatus}
		</set>
		WHERE bus_idx = #{busIdx}
	</update>

	<update id="updateBusAttendTime" parameterType="list">
		UPDATE BUS_ATTEND_TIME SET
		station_name = CASE
		<foreach collection="attendTimeList" item="values" separator="">
			WHEN bus_attend_time_idx = #{values.busAttendTimeIdx} THEN #{values.stationName}
		</foreach>
		END,
		bus_idx = CASE
		<foreach collection="attendTimeList" item="values" separator="">
			WHEN bus_attend_time_idx = #{values.busAttendTimeIdx} THEN #{values.busIdx}
		</foreach>
		END,
		first_time = CASE
		<foreach collection="attendTimeList" item="values" separator="">
			WHEN bus_attend_time_idx = #{values.busAttendTimeIdx} THEN #{values.firstTime}
		</foreach>
		END,
		second_time = CASE
		<foreach collection="attendTimeList" item="values" separator="">
			WHEN bus_attend_time_idx = #{values.busAttendTimeIdx} THEN #{values.secondTime}
		</foreach>
		END,
		third_time = CASE
		<foreach collection="attendTimeList" item="values" separator="">
			WHEN bus_attend_time_idx = #{values.busAttendTimeIdx} THEN #{values.thirdTime}
		</foreach>
		END,
		fourth_time = CASE
		<foreach collection="attendTimeList" item="values" separator="">
			WHEN bus_attend_time_idx = #{values.busAttendTimeIdx} THEN #{values.fourthTime}
		</foreach>
		END,
		fifth_time = CASE
		<foreach collection="attendTimeList" item="values" separator="">
			WHEN bus_attend_time_idx = #{values.busAttendTimeIdx} THEN #{values.fifthTime}
		</foreach>
		END,
		sixth_time = CASE
		<foreach collection="attendTimeList" item="values" separator="">
			WHEN bus_attend_time_idx = #{values.busAttendTimeIdx} THEN #{values.sixthTime}
		</foreach>
		END,
		sort_number = CASE
		<foreach collection="attendTimeList" item="values" separator="">
			WHEN bus_attend_time_idx = #{values.busAttendTimeIdx} THEN #{values.sortNumber}
		</foreach>
		END
		WHERE bus_attend_time_idx IN
		<foreach collection="attendTimeList" item="values" open="(" close=")" separator=",">
			#{values.busAttendTimeIdx}
		</foreach>
	</update>

	<update id="updateBusDismissTime" parameterType="com.flowedu.dto.BusDismissTimeDto">
		UPDATE BUS_DISMISS_TIME
		<set>
			<if test="busIdx > 0">bus_idx = #{busIdx},</if>
			<if test="firstTime != ''">first_time = #{firstTime},</if>
			<if test="secondTime != ''">second_time = #{secondTime},</if>
			<if test="thirdTime != ''">third_time = #{thirdTime},</if>
			<if test="fourthTime != ''">fourth_time = #{fourthTime},</if>
			<if test="fifthTime != ''">fifth_time = #{fifthTime},</if>
			<if test="sixthTime != ''">sixth_time = #{sixthTime},</if>
		</set>
		WHERE bus_dismiss_time_idx = #{busDismissTimeIdx}
	</update>

	<delete id="deleteBusAttendTime" parameterType="list">
		DELETE FROM BUS_ATTEND_TIME
		WHERE bus_attend_time_idx IN
		<foreach collection="busAttendTimeStrList" item="busAttendTimeId" index="index" open="(" separator="," close=")">
			#{busAttendTimeId}
		</foreach>
	</delete>
</mapper>