<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.flowedu.mapper.ConsultMapper">

    <select id="earlyConsultMemoCount" resultType="Integer">
        SELECT count(early_consult_memo_id) FROM EARLY_CONSULT_MEMO
    </select>

    <select id="selectEarlyConsultMemoList" resultType="com.flowedu.dto.EarlyConsultMemoDto">
        SELECT A.*, B.member_name
        FROM EARLY_CONSULT_MEMO A LEFT JOIN FLOWEDU_MEMBER B
        ON A.create_member_id = B.flow_member_id
        LIMIT #{start}, #{limit}
    </select>

    <insert id="saveEarlyConsultMemo">
        INSERT INTO EARLY_CONSULT_MEMO
        (phone_number, memo_type, memo_content, create_member_id)
         VALUES
        (#{phoneNumber}, #{memoType}, #{content}, #{memberId})
    </insert>

</mapper>