<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.flowedu.mapper.MemberMapper">

	<select id="getFlowEduMember" parameterType="Long" resultType="com.flowedu.dto.FlowEduMemberListDto">
		SELECT
		A.flow_member_id, A.office_id, A.team_id, A.job_position_id, A.phone_number, A.member_name,
		A.member_birthday, A.member_address, A.member_email, A.sexual_assult_confirm_date,
		A.education_reg_date, A.member_type, B.office_name, C.team_name, D.job_position_name
		FROM FLOWEDU_MEMBER A LEFT JOIN OFFICE B
		ON A.office_id = B.office_id LEFT JOIN TEAM_INFO C
		ON A.team_id = C.team_id LEFT JOIN JOB_POSITION_INFO D
		ON A.job_position_id = D.job_position_id
		<if test="flowMemberId > 0">
			<where>
				A.flow_member_id = #{flowMemberId}
			</where>
		</if>
	</select>

	<select id="getFlowEduMemberCheck" parameterType="Long" resultType="com.flowedu.dto.FlowEduMemberDto">
		SELECT * FROM FLOWEDU_MEMBER
		<if test="flowMemberId > 0">
			<where>
				flow_member_id = #{flowMemberId}
			</where>
		</if>
	</select>

	<select id="getFlowEduMemberListCount" resultType="Integer">
		SELECT count(A.flow_member_id) as cnt
		FROM FLOWEDU_MEMBER A LEFT JOIN OFFICE B
		ON A.office_id = B.office_id WHERE A.member_type != 'ADMIN'
	</select>

	<select id="getFlowEduMemberList" resultType="com.flowedu.dto.FlowEduMemberListDto">
		SELECT
			A.flow_member_id, A.office_id, A.team_id, A.job_position_id, A.phone_number, A.member_name,
			A.member_birthday, A.member_address, A.member_email, A.sexual_assult_confirm_date,
			A.education_reg_date, A.member_type, B.office_name, C.team_name, D.job_position_name
		FROM FLOWEDU_MEMBER A LEFT JOIN OFFICE B
		ON A.office_id = B.office_id LEFT JOIN TEAM_INFO C
		ON A.team_id = C.team_id LEFT JOIN JOB_POSITION_INFO D
		ON A.job_position_id = D.job_position_id
		WHERE A.member_type != 'ADMIN'
		ORDER BY A.office_id ASC
		LIMIT #{start}, #{end}
	</select>
	
	<select id="getJobPositionList" resultType="com.flowedu.dto.JobPositionDto">
		SELECT * FROM JOB_POSITION_INFO
	</select>
W
	<select id="getMemberCount" parameterType="String" resultType="Integer">
		SELECT count(flow_member_id) as cnt
		FROM FLOWEDU_MEMBER
		WHERE phone_number = #{phoneNumber}
	</select>

	<select id="getTeacherList" resultType="com.flowedu.dto.FlowEduMemberListDto">
		SELECT flow_member_id, office_id, team_id, member_name
		FROM FLOWEDU_MEMBER
		WHERE office_id = #{officeId}
		AND member_type LIKE CONCAT('TEACHER', '%')
	</select>

	<select id="getMemberIdNameByMemberIds" resultType="com.flowedu.domain.MemberIdName">
		SELECT flow_member_id as member_id, member_name
		FROM FLOWEDU_MEMBER
		WHERE flow_member_id IN
		<foreach collection="memberIds" item="memberId" separator="," open="(" close=")">
			#{memberId}
		</foreach>
	</select>

	<insert id="saveFlowEduMember" parameterType="com.flowedu.dto.FlowEduMemberDto">
		INSERT INTO FLOWEDU_MEMBER
		(
			office_id, team_id, job_position_id, phone_number, member_password,
			member_name, member_birthday, member_address, member_email,
			sexual_assult_confirm_date, education_reg_date, member_type
		)
		VALUES
		(
			#{officeId}, #{teamId}, #{jobPositionId}, #{phoneNumber}, #{memberPassword},
			#{memberName}, #{memberBirthday}, #{memberAddress}, #{memberEmail},
			#{sexualAssultConfirmDate}, #{educationRegDate}, #{memberType}
		)
	</insert>

	<update id="modifyFlowEduMember" parameterType="com.flowedu.dto.FlowEduMemberDto">
		UPDATE FLOWEDU_MEMBER
		<set>
			<if test="officeId > -1">office_id = #{officeId},</if>
			<if test="teamId > -1">team_id = #{teamId},</if>
			<if test="phoneNumber != ''">phone_number= #{phoneNumber},</if>
			<if test="memberPassword != ''">member_password = #{memberPassword},</if>
			<if test="memberName != ''">member_name = #{memberName},</if>
			<if test="memberBirthday != ''">member_birthday = #{memberBirthday},</if>
			<if test="memberAddress != ''">member_address = #{memberAddress},</if>
			<if test="memberEmail != ''">member_email = #{memberEmail},</if>
			<if test="sexualAssultConfirmDate != ''">sexual_assult_confirm_date = #{sexualAssultConfirmDate},</if>
			<if test="educationRegDate != ''">education_reg_date = #{educationRegDate},</if>
			<if test="memberType != ''">member_type = #{memberType}</if>
		</set>
		<where>
			flow_member_id = #{flowMemberId}
		</where>
	</update>

	<delete id="deleteFlowEduMember" parameterType="Long">
		DELETE FROM FLOWEDU_MEMBER
		<where>
			flow_member_id = #{flowMemberId}
		</where>
	</delete>

</mapper>