<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.flowedu.mapper.OfficeMapper">

	<select id="getAcademyList" resultType="com.flowedu.dto.OfficeDto">
		SELECT A.*, B.academy_group_name
		FROM OFFICE A LEFT JOIN ACADEMY_GROUP B
		ON A.academy_group_id = B.academy_group_id
		<if test="officeId > 0">
			<where>
				A.office_id = #{officeId}
			</where>
		</if>
	</select>

	<select id="getAcademyInfo" resultType="com.flowedu.dto.OfficeDto">
		SELECT * FROM OFFICE WHERE office_id = #{officeId}
	</select>
	
	<select id="getFlowEduTeamList" resultType="com.flowedu.dto.FlowEduTeamDto">
		SELECT * FROM TEAM_INFO
		<if test="teamId > 0">
			<where>
				team_id = #{teamId}
			</where>
		</if>
	</select>

	<select id="getAcademyGroup" resultType="com.flowedu.dto.AcademyGroupDto">
		SELECT * FROM ACADEMY_GROUP
		<if test="academyGroupId > 0">
			<where>
				academy_group_id = #{academyGroupId}
			</where>
		</if>
	</select>

	<select id="getAcademyListBySearchCount" resultType="Integer">
		SELECT count(A.office_id)
		FROM OFFICE A LEFT JOIN ACADEMY_GROUP B
		ON A.academy_group_id = B.academy_group_id
		WHERE 1=1
		<if test="academyGroupId > 0">
			AND A.academy_group_id = #{academyGroupId}
		</if>
		<if test="officeId > 0">
			AND A.office_id = #{officeId}
		</if>
		<if test="startDate != ''">
			AND DATE(A.create_date) BETWEEN #{startDate} AND #{endDate}
		</if>
		<if test="regType != ''">
			<if test="regType == 'group_name'">
				AND B.academy_group_name LIKE CONCAT('%', #{searchText}, '%')
			</if>
			<if test="regType == 'academy_name'">
				AND A.office_name LIKE CONCAT('%', #{searchText}, '%')
			</if>
		</if>
	</select>

	<select id="getAcademyListByGourpId" resultType="com.flowedu.dto.OfficeDto">
		SELECT office_id, office_name
		FROM OFFICE
		<if test="academyGroupId > 0">
			<where>
				academy_group_id = #{academyGroupId}
			</where>
		</if>
	</select>

    <select id="getAcademyListBySearch" resultType="com.flowedu.dto.OfficeDto">
        SELECT A.*, B.academy_group_name
        FROM OFFICE A LEFT JOIN ACADEMY_GROUP B
        ON A.academy_group_id = B.academy_group_id
        WHERE 1=1
        <if test="academyGroupId > 0">
            AND A.academy_group_id = #{academyGroupId}
        </if>
        <if test="officeId > 0">
            AND A.office_id = #{officeId}
        </if>
        <if test="startDate != ''">
            AND DATE(A.create_date) BETWEEN #{startDate} AND #{endDate}
        </if>
        <if test="regType != ''">
            <if test="regType == 'group_name'">
                AND B.academy_group_name LIKE CONCAT('%', #{searchText}, '%')
            </if>
            <if test="regType == 'academy_name'">
                AND A.office_name LIKE CONCAT('%', #{searchText}, '%')
            </if>
        </if>
		LIMIT #{start}, #{end}
    </select>

	<insert id="saveAcademy" parameterType="com.flowedu.dto.OfficeDto">
		INSERT INTO OFFICE
		(
			office_name, office_director_name, office_tel_number, zip_code, office_address, office_address_detail, office_fax_number,
			academy_group_id, office_memo, certificate_file_name, certificate_file_url, reg_member_id
		)
		VALUES
		(
			#{officeName}, #{officeDirectorName}, #{officeTelNumber}, #{zipCode}, #{officeAddress}, #{officeAddressDetail}, #{officeFaxNumber},
			#{academyGroupId}, #{officeMemo}, #{certificateFileName}, #{certificateFileUrl}, #{regMemeberId}
		)
	</insert>

	<update id="modifyAcademy" parameterType="com.flowedu.dto.OfficeDto">
		UPDATE OFFICE
		<set>
			<if test="officeName != ''">office_name = #{officeName},</if>
			<if test="officeDirectorName != ''">office_director_name = #{officeDirectorName},</if>
			<if test="officeTelNumber != ''">office_tel_number = #{officeTelNumber},</if>
			<if test="zipCode > 0">zip_code = #{zipCode},</if>
			<if test="officeAddress != ''">office_address = #{officeAddress},</if>
			<if test="officeAddressDetail != ''">office_address_detail = #{officeAddressDetail},</if>
			<if test="officeFaxNumber != ''">office_fax_number = #{officeFaxNumber},</if>
			<if test="academyGroupId > 0">academy_group_id = #{academyGroupId},</if>
			<if test="officeMemo != ''">office_memo = #{officeMemo},</if>
			<if test="certificateFileName != ''">certificate_file_name = #{certificateFileName},</if>
			<if test="certificateFileUrl != ''">certificate_file_url = #{certificateFileUrl},</if>
			<if test="regMemeberId > 0">reg_member_id = #{regMemeberId},</if>
		</set>
		<where>
			office_id = #{officeId}
		</where>
	</update>

	<delete id="deleteAcademy">
		DELETE FROM OFFICE
		<if test="officeId > 0">
			<where>
				office_id = #{officeId}
			</where>
		</if>
	</delete>

</mapper>