<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.flowedu.mapper.StudentMapper">

	<insert id="saveStudentInfo" parameterType="com.flowedu.dto.StudentDto">
		INSERT INTO STUDENT
		(
			student_name, student_password, student_gender, student_birthday, home_tel_number,
			student_phone_number, student_email, school_name, school_type, student_grade,
			student_photo_file, student_photo_url, student_memo, mother_name,
			mother_phone_number, father_name, father_phone_number, parent_password
		)
		VALUES
		(
			#{studentName}, {studentPassword}, #{studentGender}, #{studentBirthday}, #{homeTelNumber},
			#{studentPhoneNumber}, #{studentEmail}, #{schoolName}, #{schoolType}, #{studentGrade},
			#{studentPhotoFile}, #{studentPhotoUrl}, #{studentMemo}, #{motherName},
			#{motherPhoneNumber}, #{fatherName}, #{fatherPhoneNumber}, #{parentPassword}

		)
	</insert>

</mapper>